.panel__wrapper {
    width: 100%;
    height: 100%;

    .login-panel, .register-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        padding-top: 200px;
        gap: 20px;
    
    
        & .--input {
            margin-bottom: 10px;
            width: 100%;
            height: 40px;
            font-size: 30px;
        }
    
        &__login-input {
        }
    
        &__password-input {
    
        }
    
        &__login-button {
            width: 200px;
            height: 40px;
            border: 1px solid red;
    
            &:hover {
                background-color: black;
            }
        }
    }
}