@import './_colors';
    
.new-task-form {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $background-grey;
    z-index: 4;
    padding: 70px 15px;
    gap: 20px;

    .asignee-picker {
        align-self: flex-start;
        padding: 0;
        font-size: 24px;
        z-index: 10;
        .custom-list {
            border: 1px solid white;
            position: relative;
            &__picked-asignee {
                width: 250px;
                padding: 10px 10px;
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &__arrow-icon {
                height: 20px;
                width: 20px;
            }

            .asignee-list {
                padding: 15px 15px;
                max-height: 200px;
                overflow-y: scroll;
                transition: ease 1s;
                position: absolute;
                left: -1px;
                border: 1px solid white;
                background: $background-grey;
                width: calc(100% + 2px);
                display: flex;
                flex-direction: column;
                gap: 15px;

                &__item {
                    line-height: 25px;
    
                    &:hover {
                        border-bottom: 1px solid blue;
                    }
                }
            }
        }
    }

    .submit-btn {
    }
}


.--margin {
    margin-bottom: 5px;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}