@import './_colors';

.searchbar__wrapper {
    position: relative;
    max-width: 70%;

    .searchbar {
        height: 100%;
        line-height: 100%;
        font-size: 26px;
        width: 100%;
        padding: 5px 10px 5px 10px;
        border: 2px solid $light-blue;

        &:focus {
            border-color: white;
        }
    }

    .searchbar-tooltip {
        position: absolute;
        top: 100%;
        font-size: 14px;
    }
}