@import './_colors';

.single-task {
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: 1px solid $light-blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;


    &.expired {
        border: 1px solid red;
    }

    &__title {
        font-size: 22px;
        width: 100%;
        background: none;
        color: white;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    &__bottom-wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 10px;
        position: relative;

        .task-content__asignee {
            overflow: hidden;
            white-space: nowrap;
        }
    }
}