@import './_colors';

.slide-indicator {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    // background: rgba(#ffffff, .1);
    // backdrop-filter: blur(5px); 
    width: 80%;
    height: 30px;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-around;

    &__dot {
        height: 10px;
        width: 100%;
    }

    @media screen and (min-width: 1420px) {
        width: 50%;
        left: calc(50% - 150px);

        .slide-indicator__dot {
            &:hover {
                height: 30px;
                cursor: pointer;
            }
        }
    }
}