@import './_colors';

.list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .wrapper {
        padding-top: 10px;
        background: #1c1c1c;
        border-radius: 10px;
        padding-bottom: 10px;

        .list {
            min-height: min-content;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: scroll;
            max-height: calc(100vh - 190px);
            width: 80vw;
            border-radius: 10px;
            background: #1c1c1c;
            padding: 12px 10px;
            

            @media screen and (min-width: 640px) {
                width: 260px;
            }

            @media screen and (min-width: 640px) {
                width: calc(100vw/2 - 60px);
            }

            @media screen and (min-width: 1024px) {
                width: calc(100vw/3 - 40px);
            }

            @media screen and (min-width: 1420px) {
                width: calc(100vw/3 - 180px)
            }
        
            &-title {
                display:block;
                padding: 5px 10px;
                font-size: 20px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
}
