.app-container {
  width: 100vw;
  height: 100vh;
}
.panel__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.panel__wrapper .login-panel, .panel__wrapper .register-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0 50px;
}
.panel__wrapper .login-panel .--input, .panel__wrapper .register-panel .--input {
  height: 42px;
  line-height: 42px;
  width: 100%;
  border: 1px solid blue;
  font-size: 26px;
}
.panel__wrapper .login-panel .form__btn, .panel__wrapper .register-panel .form__btn {
  height: 42px;
  width: 80%;
  font-size: 26px;
  background: none;
  border: 3px solid rgb(47, 255, 193);
  color: rgb(47, 255, 193);
  transition: 0.3s ease;
}
.panel__wrapper .login-panel .form__btn:hover, .panel__wrapper .register-panel .form__btn:hover {
  border-radius: 13px;
  background: rgb(47, 255, 193);
  color: black;
  transition: 0.3s ease;
}

.main-site {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}
.main-site .add-task__button {
  position: fixed;
  right: 75px;
  top: 10px;
  font-size: 50px;
  transition: ease 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
}
.main-site .add-task__button:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 60%;
  background-color: black;
  border-radius: 5px;
  transform: rotate(90deg);
}
.main-site .add-task__button::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60%;
  border-radius: 5px;
  background-color: black;
}
.main-site .hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 5;
  height: 45px;
  width: 45px;
  padding: 10px 0;
  transition: 0.1s ease;
  cursor: pointer;
}
.main-site .hamburger__piece {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  transition: ease 0.1s;
}
.main-site .hamburger__piece.--top {
  top: 5px;
}
.main-site .hamburger__piece.--middle-left {
  background-color: rgb(78, 243, 255);
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  width: 50%;
  border-radius: 5px 0px 0px 5px;
}
.main-site .hamburger__piece.--middle-right {
  background-color: rgb(253, 161, 249);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 5px 5px 0px;
  left: 50%;
  width: 50%;
}
.main-site .hamburger__piece.--bottom {
  position: absolute;
  bottom: 5px;
}
.main-site .nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  transition: ease 0.5s;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-site .nav-menu {
    width: 300px;
  }
}

.blur {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
}

.form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background: #2c2c2c;
  z-index: 4;
  padding: 70px 15px;
}
.form__title-input {
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 24px;
}
.form__desc-input {
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  height: 160px;
}
.form__asignee-picker {
  align-self: flex-start;
  padding: 0;
  width: 70%;
  font-size: 24px;
}
.form__asignee-picker .custom-list {
  border: 1px solid black;
}
.form__asignee-picker .custom-list__picked-asignee {
  width: 100%;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid red;
}
.form__asignee-picker .custom-list__arrow-icon {
  position: absolute;
  top: 50%;
  right: 0;
  height: 10px;
  width: 10px;
  margin-left: 5px;
}
.form__asignee-picker .asignee-list {
  max-height: 100px;
  overflow-y: scroll;
  transition: ease 1s;
}
.form__asignee-picker .asignee-list__item {
  line-height: 25px;
}
.form__asignee-picker .asignee-list__item:hover {
  border-bottom: 1px solid blue;
}
.form__submit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.--margin {
  margin-bottom: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.list-wrap {
  padding: 0 20px;
  height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.task-lists {
  display: flex;
  position: absolute;
  overflow-x: scroll;
  padding-top: 70px;
}
.task-lists .list-wrap {
  flex: none;
  height: 100%;
}

@media (min-width: 768px) {
  .task-lists {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .task-lists .list-wrap {
    width: 33%;
    overflow-y: scroll;
  }
  .task-lists .list-wrap .single-task.opened {
    width: 500px;
    height: 300px;
  }
}
.single-task {
  flex-direction: column;
  height: 120px;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  border-radius: 8px;
  transition: height 0.3s ease;
  color: white;
  border: 1px solid rgb(57, 255, 238);
  position: relative;
}
.single-task__title {
  font-size: 24px;
  width: 100%;
  background: none;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}
.single-task__desc {
  font-size: 18px;
  width: 100%;
  background: none;
  color: white;
  overflow: hidden;
  font-family: "Times New Roman", Times, serif;
}
.single-task__desc textarea {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: scroll;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.single-task__asignee {
  font-size: 24px;
}
.single-task__date {
  font-size: 20px;
}
.single-task__close-btn {
  top: 8px;
  right: 8px;
  height: 15px;
  width: 15px;
}
.single-task__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 2px;
  background-color: rgb(57, 255, 238);
  rotate: -45deg;
}
.single-task__close-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 2px;
  background-color: rgb(57, 255, 238);
  rotate: 45deg;
}
.single-task.opened {
  position: fixed;
  top: 0;
  left: 0;
  translate: -50% -50%;
  height: 300px;
  width: 300px;
  background-color: white;
  color: black;
  z-index: 25;
}
.single-task.opened .single-task__desc {
  height: 100px;
  border: 1px solid black;
  overflow-y: scroll;
}
.single-task__actions-picker {
  position: absolute;
  bottom: 10px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  width: 160px;
}
.single-task__actions-picker .picked-action {
  display: block;
  border: 1px solid white;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.single-task__actions-picker .picked-action .submit-action {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-task__actions-picker .picked-action .submit-action:hover {
  color: rgb(57, 255, 238);
}
.single-task__actions-picker .actions-window {
  padding: 5px 5px;
  position: absolute;
  bottom: 27px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 18px;
  width: 100%;
  background-color: #2c2c2c;
  border: 1px solid white;
  overflow-y: scroll;
  z-index: 50;
}
.single-task__actions-picker .actions-window .action {
  cursor: pointer;
}

.single-task__blur {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  * {
    overflow: hidden;
  }
}

body {
  background-color: #2c2c2c;
  height: 100%;
}

.hidden {
  display: none;
}

.button--round {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 45px;
  height: 45px;
  background-color: white;
  color: #2c2c2c;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 5px 8px;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

::-webkit-scrollbar:horizontal {
  height: 0px;
}/*# sourceMappingURL=index.css.map */