@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
.app-container {
  height: 100vh;
}

@media screen and (max-width: 899px) {
  .logging-site {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .logging-site .login-panel__wrapper {
    position: relative;
  }
  .logging-site .login-panel__wrapper .login-panel .form__btn {
    background: none;
    border: 3px solid rgb(57, 255, 238);
    color: rgb(57, 255, 238);
    transition: 0.3s ease;
  }
  .logging-site .login-panel__wrapper .login-panel .form__btn:hover {
    border-radius: 13px;
    background: rgb(57, 255, 238);
    color: black;
    transition: 0.3s ease;
  }
  .logging-site .site-aside {
    padding: 0 5px;
    gap: 20px;
  }
  .logging-site .site-aside span {
    font-size: 26px;
  }
}
@media screen and (min-width: 900px) {
  .logging-site {
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .logging-site .login-panel__wrapper {
    width: 45vw;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .logging-site .login-panel__wrapper .login-panel {
    max-width: 450px;
  }
  .logging-site .site-aside {
    width: 45vw;
    gap: 30px;
  }
  .logging-site .site-aside span {
    font-size: 40px;
  }
}
.site-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-aside span {
  color: white;
  text-align: center;
}
.site-aside .panel-switch-btn {
  color: white;
  border: 3px solid white;
}

.logging-screen {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 90%;
  z-index: 3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.main-site {
  position: relative;
  color: white;
}
.main-site .popup-blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1000;
}
.main-site .popup-blur .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 700px;
  z-index: 1000;
  border: 1px solid red;
}
.main-site .popup-blur .popup__close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
}
.main-site .popup-blur .popup__close-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: red;
  transform: rotate(-45deg);
}
.main-site .popup-blur .popup__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: red;
  transform: rotate(45deg);
}
.main-site .add-task__button {
  position: fixed;
  right: 75px;
  top: 7px;
  font-size: 50px;
  transition: ease 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5;
}
.main-site .add-task__button:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 60%;
  background-color: black;
  border-radius: 5px;
  transform: rotate(90deg);
}
.main-site .add-task__button::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60%;
  border-radius: 5px;
  background-color: black;
}
.main-site .hamburger {
  position: fixed;
  top: 7px;
  right: 20px;
  z-index: 5;
  height: 45px;
  width: 45px;
  padding: 10px 0;
  transition: 0.1s ease;
  cursor: pointer;
}
.main-site .hamburger__piece {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  transition: ease 0.1s;
}
.main-site .hamburger__piece.--top {
  top: 5px;
}
.main-site .hamburger__piece.--middle-left {
  background-color: rgb(57, 255, 238);
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  width: 50%;
  border-radius: 5px 0px 0px 5px;
}
.main-site .hamburger__piece.--middle-right {
  background-color: rgb(253, 161, 249);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px 5px 5px 0px;
  left: 50%;
  width: 50%;
}
.main-site .hamburger__piece.--bottom {
  position: absolute;
  bottom: 5px;
}
.main-site .nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  transition: ease 0.5s;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-site .nav-menu {
    width: 300px;
  }
}
.main-site .nav-menu__items {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.main-site .nav-menu__items .item {
  font-size: 36px;
  position: relative;
}
.main-site .nav-menu__items .item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgb(57, 255, 238);
  transition: 0.15s ease;
}
.main-site .nav-menu__items .item:hover {
  cursor: pointer;
}
.main-site .nav-menu__items .item:hover:after {
  transition: 0.15s ease;
  width: 100%;
}

@media screen and (min-width: 1420px) {
  .main-site {
    padding-right: 20%;
  }
}
.new-task-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  z-index: 4;
  overflow: scroll;
  gap: 10px;
  padding: 0 10px;
}
@media screen and (min-width: 430px) {
  .new-task-form {
    padding-top: 70px;
  }
}
.new-task-form .data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-task-form .data-wrapper .inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-task-form .data-wrapper .inputs-wrapper .title-input {
  padding-right: 50px;
}
.new-task-form .data-wrapper .inputs-wrapper .desc-input {
  height: 300px;
}
.new-task-form .data-wrapper .pickers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker {
  font-size: 24px;
  z-index: 10;
  width: 260px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 94px;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0f0f0f;
  border: 3px solid white;
  border-radius: 10px;
  z-index: 10;
  width: 260px;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 0;
  left: 0;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list__picked-asignee {
  width: 100%;
  padding: 10px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list__arrow-icon {
  height: 20px;
  width: 20px;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list .asignee-list {
  overflow-y: scroll;
  left: -1px;
  gap: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list .asignee-list__item {
  line-height: 25px;
}
.new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list .asignee-list__item:hover {
  color: rgb(57, 255, 238);
}
.new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper {
  position: inherit;
  z-index: 2;
  justify-self: flex-end;
}
.new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 260px;
  background: none;
  color: white;
  background-color: #0f0f0f;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border: 3px solid white;
}
.new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input .calendar-icon {
  transition: 0.3s ease;
}
.new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input:hover .calendar-icon {
  color: rgb(57, 255, 238);
  transition: 0.3s ease;
}
@media screen and (min-width: 768px) {
  .new-task-form {
    height: 100vh;
  }
  .new-task-form .data-wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    height: 80%;
  }
  .new-task-form .data-wrapper .inputs-wrapper {
    gap: 20px;
    width: 50%;
    justify-content: center;
  }
  .new-task-form .data-wrapper .inputs-wrapper .desc-input {
    width: 100%;
    height: 400px;
  }
  .new-task-form .data-wrapper .pickers-wrapper {
    gap: 100px;
    align-items: center;
    justify-content: center;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker {
    width: 260px;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list {
    width: 260px;
    background-color: #0f0f0f;
    flex-direction: column;
    position: inherit;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list__picked-asignee {
    width: 100%;
    justify-content: space-between;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list__arrow-icon {
    transition: 0.3s ease;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list .asignee-list {
    flex-direction: column;
  }
  .new-task-form .data-wrapper .pickers-wrapper .asignee-picker .custom-list:hover .custom-list__arrow-icon {
    color: rgb(57, 255, 238);
    transition: 0.3s ease;
  }
  .new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    width: 260px;
    background: none;
    color: white;
    background-color: #0f0f0f;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border: 3px solid white;
  }
  .new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input .calendar-icon {
    transition: 0.3s ease;
  }
  .new-task-form .data-wrapper .pickers-wrapper .date-picker-wrapper .date-custom-input:hover .calendar-icon {
    color: rgb(57, 255, 238);
    transition: 0.3s ease;
  }
  .new-task-form .submit-btn {
    height: 60px;
    width: 250px;
    font-size: 30px;
  }
}
.--margin {
  margin-bottom: 5px;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.picker-title {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-wrap .wrapper {
  padding-top: 10px;
  background: #1c1c1c;
  border-radius: 10px;
  padding-bottom: 10px;
}
.list-wrap .wrapper .list {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  max-height: calc(100vh - 190px);
  width: 80vw;
  border-radius: 10px;
  background: #1c1c1c;
  padding: 12px 10px;
}
@media screen and (min-width: 640px) {
  .list-wrap .wrapper .list {
    width: 260px;
  }
}
@media screen and (min-width: 640px) {
  .list-wrap .wrapper .list {
    width: calc(50vw - 60px);
  }
}
@media screen and (min-width: 1024px) {
  .list-wrap .wrapper .list {
    width: calc(33.3333333333vw - 40px);
  }
}
@media screen and (min-width: 1420px) {
  .list-wrap .wrapper .list {
    width: calc(33.3333333333vw - 180px);
  }
}
.list-wrap .wrapper .list-title {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
}
.list-wrap .wrapper .add-new-list-btn {
  border: 2px solid white;
  transition: 0.3s ease;
}
.list-wrap .wrapper .add-new-list-btn:hover {
  border: 2px solid rgb(57, 255, 238);
  color: rgb(57, 255, 238);
  transition: 0.3s ease;
}

.single-task {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  color: white;
  border: 1px solid rgb(57, 255, 238);
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-task.expired {
  border: 1px solid red;
}
.single-task__top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-task__top-wrap .single-task__id {
  font-size: 14px;
}
.single-task__top-wrap .single-task__close-btn {
  position: relative;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.single-task__top-wrap .single-task__close-btn::after, .single-task__top-wrap .single-task__close-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 2px;
  background-color: rgb(57, 255, 238);
  transition: 0.3s ease;
}
.single-task__top-wrap .single-task__close-btn::after {
  rotate: -45deg;
}
.single-task__top-wrap .single-task__close-btn::before {
  rotate: 45deg;
}
.single-task__top-wrap .single-task__close-btn:hover::after, .single-task__top-wrap .single-task__close-btn:hover::before {
  background-color: white;
  transition: 0.3s ease;
}
.single-task__top-wrap .single-task__submit-change-btn {
  color: rgb(57, 255, 238);
  font-size: 14px;
  cursor: pointer;
}
.single-task__top-wrap .single-task__submit-change-btn:hover {
  color: white;
}
.single-task__title {
  font-size: 22px;
  width: 100%;
  background: none;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}
.single-task__middle-wrap {
  overflow: scroll;
  height: 78px;
  color: white;
}
.single-task__middle-wrap .single-task__desc {
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: white;
  background: none;
  border-radius: 0;
  cursor: pointer;
}
.single-task__middle-wrap .single-task__desc:focus {
  cursor: auto;
}
.single-task__bottom-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.single-task__bottom-wrap .left-side {
  display: flex;
  flex-direction: column;
}
.single-task__bottom-wrap .left-side__asignee {
  font-size: 20px;
}
.single-task__bottom-wrap .left-side__date {
  position: absolute;
  bottom: 5px;
  font-size: 14px;
}

.slide-indicator {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slide-indicator__dot {
  height: 4px;
  width: 100%;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: bblFadInOut 1.8s infinite ease-in-out;
          animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: #FFF;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes bblFadInOut {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.register-site {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.register-site .register-panel__next-step-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  padding: 5px 45px;
  max-height: 42px;
}
.register-site .site-aside {
  font-size: 30px;
  gap: 10px;
}

.actions-picker {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  z-index: 50;
  border: 1px solid white;
  background-color: #1c1c1c;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.actions-picker .picked-action {
  display: block;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.actions-picker .picked-action .submit-action {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions-picker .picked-action .submit-action:hover {
  color: rgb(57, 255, 238);
}
.actions-picker .actions-window {
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  width: 100%;
  overflow: scroll;
  z-index: 50;
}
.actions-picker .actions-window .action {
  cursor: pointer;
  line-height: 26px;
}
.actions-picker:hover .submit-action {
  color: rgb(57, 255, 238);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0f0f0f;
}

.hidden {
  display: none;
}

.button--round {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 45px;
  height: 45px;
  background-color: white;
  color: #2c2c2c;
  border-radius: 50%;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 8px;
  background-color: #0f0f0f;
  color: rgb(57, 255, 238);
}

::-webkit-scrollbar {
  width: 0px;
  background: rgb(57, 255, 238);
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(57, 255, 238);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(57, 255, 238);
}

::-webkit-scrollbar:horizontal {
  height: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 3px solid rgb(57, 255, 238);
  -webkit-text-fill-color: rgb(57, 255, 238);
  -webkit-box-shadow: 0 0 0px 1000px #0f0f0f inset;
  -webkit-transition: background-color 5000s ease-in-out 12s;
  transition: background-color 5000s ease-in-out 12s;
}

.swiper {
  position: static !important;
  padding-top: 70px !important;
}

.swiper-slide {
  z-index: 10;
}

.btn {
  color: white;
  padding: 8px 35px;
  font-size: 20px;
  line-height: 100%;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 8px;
  font-weight: 500;
}
.btn:hover {
  border-radius: 20px;
  transition: 0.3s ease;
}

.form__btn {
  border: 3px solid rgb(57, 255, 238);
  color: rgb(57, 255, 238);
}
.form__btn:hover {
  background: rgb(57, 255, 238);
  color: #2c2c2c;
}

.form-input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  font-size: 30px;
  border: 3px solid rgb(57, 255, 238);
}

.panel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 0 50px;
}
@media screen and (min-width: 768px) {
  .panel-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.back-arrow {
  color: rgb(57, 255, 238);
  height: 100%;
  width: 42px;
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.back-arrow:hover {
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */