@import './styles/app';
@import './styles/loginSite';
@import './styles/mainSite';
@import './styles/newTaskForm';
@import './styles/tasksList';
@import './styles/singleTask';
@import './styles/_colors';
@import './styles/slideIndicator';
@import './styles/_loader';
@import './styles/registerSite';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-grey;
}

.hidden {
    display: none;
}

.button--round {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 45px;
    height: 45px;
    background-color: white;
    color: $dark-grey;
    border-radius: 50%;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;
    appearance: none;
    border-radius: 8px;
    background-color: $background-grey;
    color: $light-blue;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $dark-grey;
  }

  ::-webkit-scrollbar:horizontal {
    height: 0px;
  }
  

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 3px solid $light-blue;
  -webkit-text-fill-color: $light-blue;
  -webkit-box-shadow: 0 0 0px 1000px $background-grey inset;
  transition: background-color 5000s ease-in-out 12s;

}

.swiper-slide {
  z-index: -1;
}

.btn {
  color: white;
  padding: 8px 35px;
  font-size: 20px;
  line-height: 100%;
  background: none;
  cursor: pointer;
  transition: .3s ease;
  border-radius: 8px;
  font-weight: 500;

  &:hover {
      border-radius: 20px;
      transition: .3s ease;
  }
}

.form__btn {
  border: 3px solid $light-blue;
  color: $light-blue;

  &:hover {
      background: $light-blue;
      color: $dark-grey;
  }
}

.form-input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  font-size: 30px;
  max-width: 350px;
  border: 3px solid $light-blue;
}

.panel-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 0 50px;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}